.dropdown {
  position: absolute;
  width: 18rem;
  top: calc(var(--nav-size) - 5px);
  transform: translateX(-45%);
  background-color: var(--bg-clr);
  padding: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}
