.dropdown {
  /* If box-sizing is not unset the height is off by padding amount */
  box-sizing: unset;
  position: absolute;
  width: 18rem;
  top: calc(var(--nav-size) - 5px);
  transform: translateX(-45%);
  background-color: var(--bg-clr);
  padding: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;

  transition: height var(--animation-speed) ease;
}

.menu {
  width: 100%;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--animation-speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--animation-speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--animation-speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--animation-speed) ease;
}
