.icon-btn {
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--bg-accent);

  /* For hover transition */
  transition: filter 300ms;
}

.icon-btn:hover {
  filter: brightness(1.4);
}

.icon-btn svg {
  fill: var(--text-clr);
  width: 20px;
  aspect-ratio: 1;
}

.icon-right {
  margin-left: auto;
}
